<h1>Welcome Admin!</h1> 
<h2>List all Users</h2>
<table class="table table-hover">
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Sign In Count</th>
    <th>Created At</th>
    <th></th>
    <th></th>
  </tr>
<% @users.each do |u| %>
  <tr>
    <td><%= u.id %></td>
    <td><%= u.email %></td>
    <td><%= u.sign_in_count %></td>
    <td><%= u.created_at %></td>
    <td><%= link_to 'Edit', edit_user_registration_path(u) %></td>
    <td><%= link_to 'Destroy', admin_delete_user_path(u.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<p><%= link_to "Show all users", admin_list_users_path %></p>
<h2>List all Adverts</h2>
<table class="table table-hover">
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Title</th>
    <th>Created At</th>
    <th></th>
    <th></th>
  </tr>
<% @adverts.each do |a| %>
  <tr>
    <td><%= a.id %></td>
    <td><%= a.user.email %></td>
    <td><%= a.title %></td>
    <td><%= a.created_at %></td>
    <td><%= link_to 'Edit', admin_edit_advert_path(a) %></td>
    <td><%= link_to 'Destroy', admin_delete_advert_path(a.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<p><%= link_to "Show all adverts", admin_list_adverts_path %></p>