<h1>Welcome to brand new AdvertsOnRails!</h1>
<div class="row-fluid">
  <div class="span12">
    <h2>Choose your path!</h2>
    <div class="row-fluid">
      <div class="span6">
        <%= link_to 'Add New Advert', new_advert_path, class: "btn btn-danger bt-large" %>
      </div>
      <div class="span6">Search Advert <br><%= render 'search' %></div>
    </div>
  </div>  
</div>
<div>
<h3>Listing available adverts:</h3>
<table class="table table-hover">
  <tr>
  	<th><%= sort_link @search, :category_name, "Category" %></th>
    <th style="width: 110px"></th>
    <th><%= sort_link @search, :title %></th>
    <th><%= sort_link @search, :price %></th>
    <th><%= sort_link @search, :created_at, "Added" %></th>
  </tr>

<% @adverts.each do |advert| %>
  <tr>
  	<td><%= advert.category.name %></td>
    <td><% advert.attachments.each do |photo| %>
          <%= image_tag photo.file_url(:thumb) %>
        <% end %>
    </td>
   	<td><%= link_to(advert) do %>
      		<strong><%= advert.title %></strong><br>
      		<%= truncate_wrap(advert.description) %>
  		  <% end %>
  	</td>
  	<td><%= advert.price %> zł</td>	
    <td><%= advert.created_at.to_formatted_s(:short) %></td>
  </tr>	
<% end %>
</table>
</div>