<h1>Home#index</h1>
<p>Listing available adverts:</p>
<table class="table-hover">
  <tr>
  	<th>Category</th>
    <th>Title</th>
    <th>Price</th>
  </tr>

<% @adverts.each do |advert| %>
  <tr>
  	<td><%= advert.category_id %></td>
 	<td> <%= link_to(advert) do %>
  		<strong><%= advert.title %></strong><br>
  		<%= advert.description %>
  		  <% end %>
  	</td>
  	<td><%= advert.price %></td>	
  </tr>	
<% end %>
</table>
