<h1>Welcome to brand new AdvertsOnRails!</h1>
<div class="row-fluid">
  <div class="span12">
    <h2>Choose your path!</h2>
    <div class="row-fluid">
      <div class="span6">
        <%= link_to 'Add New Advert', new_advert_path, class: "btn btn-danger bt-large" %>
      </div>
      <div class="span6">Search Advert</div>
    </div>
  </div>  
</div>
<div>
<h3>Listing available adverts:</h3>
<table class="table table-hover">
  <tr>
  	<th>Category</th>
    <th>Title</th>
    <th>Price</th>
  </tr>

<% @adverts.each do |advert| %>
  <tr>
  	<td><%= advert.category.name %></td>
 	<td> <%= link_to(advert) do %>
  		<strong><%= advert.title %></strong><br>
  		<%= advert.description %>
  		  <% end %>
  	</td>
  	<td><%= advert.price %></td>	
  </tr>	
<% end %>
</table>
</div>